body{
    background: linear-gradient(180deg, rgb(193.37, 171.94, 116.83) 0%, #C03A00 35%);
    background-size: 100%;
}

.frame, a:hover{
    color: rgb(127, 65, 36);
}

.frame {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .overlap-group-wrapper {
    width: 1356px;
    height: 688px;
  }
  
  .frame .overlap-group {
    position: relative;
    width: 1352px;
    height: 688px;
    background-size: 100% 100%;
  }
  
  .frame .overlap {
    position: absolute;
    width: 1131px;
    height: 653px;
    top: 18px;
    left: 54px;
  }
  
  .frame .div {
    position: absolute;
    width: 1131px;
    height: 653px;
    top: 0;
    left: 0;
  }
  
  .frame .component {
    position: absolute;
    width: 1131px;
    height: 224px;
    top: 429px;
    left: 0;
  }
  
  .frame .boba {
    top: 100px;
    left: 1181px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-2 {
    height: 62px;
    background-color: #fff0c9;
    border-radius: 33.7px/31.19px;
    transform: rotate(180deg);
  }
  
  .frame .boba-wrapper {
    top: 35px;
    left: 1080px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .div-wrapper {
    top: 72px;
    left: 296px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-3 {
    top: 158px;
    left: 281px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-4 {
    top: 150px;
    left: 49px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-5 {
    top: 107px;
    left: 177px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-6 {
    top: 60px;
    left: 92px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-7 {
    top: 45px;
    left: -12px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-8 {
    top: 26px;
    left: 397px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-9 {
    top: 29px;
    left: 562px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-10 {
    top: 87px;
    left: 489px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-11 {
    top: 119px;
    left: 389px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-12 {
    top: 16px;
    left: 210px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-13 {
    top: 72px;
    left: 969px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-14 {
    top: 72px;
    left: 689px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-15 {
    top: 153px;
    left: 929px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-16 {
    top: 32px;
    left: 775px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-17 {
    top: 150px;
    left: 741px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-18 {
    top: 107px;
    left: 598px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .boba-19 {
    top: 131px;
    left: 1071px;
    position: absolute;
    width: 67px;
    height: 62px;
  }
  
  .frame .text-wrapper {
    position: absolute;
    width: 239px;
    top: 188px;
    left: 464px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffe0e6;
    font-size: 24px;
    letter-spacing: 6px;
    line-height: normal;
  }
  
  .frame .straw {
    position: absolute;
    width: 252px;
    height: 637px;
    top: 0;
    left: 851px;
  }
  
  .frame .text-wrapper-2 {
    position: absolute;
    width: 17px;
    top: 447px;
    left: 218px;
    font-family: "Gill Sans-Bold", Helvetica;
    font-weight: 700;
    color: #c03a00d9;
    font-size: 40px;
    letter-spacing: 10px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-3 {
    width: 18px;
    top: 507px;
    left: 300px;
    font-size: 38px;
    letter-spacing: 9.5px;
    position: absolute;
    font-family: "Gill Sans-Bold", Helvetica;
    font-weight: 700;
    color: #c03a00d9;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-4 {
    width: 18px;
    top: 586px;
    left: 312px;
    font-size: 38px;
    letter-spacing: 9.5px;
    position: absolute;
    font-family: "Gill Sans-Bold", Helvetica;
    font-weight: 700;
    color: #c03a00d9;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-5 {
    width: 19px;
    top: 467px;
    left: 423px;
    font-size: 38px;
    letter-spacing: 9.5px;
    position: absolute;
    font-family: "Gill Sans-Bold", Helvetica;
    font-weight: 700;
    color: #c03a00d9;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-6 {
    width: 19px;
    top: 551px;
    left: 404px;
    font-size: 36px;
    letter-spacing: 9px;
    position: absolute;
    font-family: "Gill Sans-Bold", Helvetica;
    font-weight: 700;
    color: #c03a00d9;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-7 {
    width: 19px;
    top: 528px;
    left: 498px;
    font-size: 38px;
    letter-spacing: 9.5px;
    position: absolute;
    font-family: "Gill Sans-Bold", Helvetica;
    font-weight: 700;
    color: #c03a00d9;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-8 {
    width: 19px;
    top: 463px;
    left: 573px;
    font-size: 38px;
    letter-spacing: 9.5px;
    position: absolute;
    font-family: "Gill Sans-Bold", Helvetica;
    font-weight: 700;
    color: #c03a00d9;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-9 {
    width: 19px;
    top: 554px;
    left: 620px;
    font-size: 38px;
    letter-spacing: 9.5px;
    position: absolute;
    font-family: "Gill Sans-Bold", Helvetica;
    font-weight: 700;
    color: #c03a00d9;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-10 {
    width: 19px;
    top: 505px;
    left: 717px;
    font-size: 38px;
    letter-spacing: 9.5px;
    position: absolute;
    font-family: "Gill Sans-Bold", Helvetica;
    font-weight: 700;
    color: #c03a00d9;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-11 {
    width: 43px;
    top: 578px;
    left: 753px;
    font-size: 36px;
    letter-spacing: -7.2px;
    position: absolute;
    font-family: "Gill Sans-Bold", Helvetica;
    font-weight: 700;
    color: #c03a00d9;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .title-eng {
    position: absolute;
    width: 595px;
    top: 270px;
    left: 48px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffefc7;
    font-size: 96px;
    letter-spacing: 7.68px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .title-ch {
    position: absolute;
    width: 483px;
    height: 90px;
    top: 142px;
    left: 45px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffefc7;
    font-size: 96px;
    white-space: inherit;
  }
  
  .frame .overlap-2 {
    position: absolute;
    width: 101px;
    height: 38px;
    top: 21px;
    left: 1235px;
    background-color: #ffefc7;
    border-radius: 50px;
  }
  
  .frame .text-wrapper-12 {
    position: absolute;
    width: 72px;
    top: 2px;
    left: 15px;
    font-family: "Gill Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #c03a00d9;
    font-size: 25px;
    letter-spacing: 6 px;
    line-height: normal;
    white-space: nowrap;
  }