h1 {
    margin-left: 3px;
    font-size: 100px;
    color:#fffad1;
    margin-top: 4px;
}

.date{
    margin: 30px;
    margin-left: 54px;
}

hr.dotted {
    border-top: 10px dotted #f1a856;
}

bold{
    font-weight: bold;
}

small{
    font: 15px;
    line-height: 15px;
}

h2{
    background-color: rgba(255, 248, 220, 0.89);
    color: #c03a00e6;
    font-size: 75px;
    text-align: center;
    padding: 20px;
    margin: 30px;
    align-content: center;
    line-height: 85px;
    kerning: 110%;
}

body{
    background-color: rgba(255, 255, 255, 1);
    background: linear-gradient(180deg, rgb(193.37, 171.94, 116.83) 0%, #C03A00 35%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lightgoldenrodyellow; 
}

.intro{
    line-height: 35px;
    font-size: 30px;
    margin-inline: 50px;
}

#top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 25px;
    border: none;
    outline: none;
    background-color:#405e00;
    color:#fffad1;
    padding: 15px;
    border-radius: 4px;
}
  
#top-button:hover {
    background-color: rgba(245, 245, 245, 0.506);
}


.boba-wiki{
    display: flex;
    float: left;
    margin: 5px;
}

.elements-intro{
    margin-bottom: 0;
    margin-top: 8px;
    padding: 8px;
    padding-bottom: 0px;
}

ul, .elements-intro{
    margin: 15 px;
    padding: 15 px;
    padding-left: 25px;
    color:rgb(100, 117, 68);
    background-color:#ffeebb;
    font-size: 40px;
    line-height: 40px;
}

.boba-wiki{
    width: 20%;
    display:inline-block;
    vertical-align:top;
    position:relative;
    padding: 15px;
}

ul li:before, h3:before{
    content: '\2726';
    margin: 0 1em;    /* any design */
}

h3{
    background-color: rgba(255, 222, 206, 0.89);
    color: #405e00;
    font-size: 55px;
    text-align: left;
    padding: 12px;
    margin: 20px;
    margin-inline-start: 0;
    position: sticky;
    width: 55%;
}

.text{
    font-size: 30px;
    margin-inline: 45px;
    padding: 40px;
    color:aliceblue;
    margin-bottom: 30px;
    line-height: 47px;
}

.row{
    display: flex;
    margin: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.column {
    padding: 5px;
    max-height: 450px;
    flex: 33.3%;
    width: 100%;
    margin-inline: 10px;
    font-size: 20px;
}

a{
    text-decoration: underline;
}

.entry-links{
    color:#fffad1;
    text-decoration: underline;
    position: flex;
    margin: 6px;
}

a:visited {
    color:darkkhaki;
}

a:hover {
    color: white;
}

.boba-marquee{
    max-width: 100%;
    color:moccasin;
}

footer {
    background-color:#9b2f01;
    color: white;
    text-align: center;
    font-size: 25px;
}

@media (min-width: 0px) {
    div{
        font-size-adjust: 0.5;
    }
}

@media (min-width: 500px) {
    div{
        font-size-adjust: 0.7;
    }
}

@media (min-width: 1400px) {
    div{
        font-size-adjust: none;
    }
}
